.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title h1 {
  
}

.header {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.poster img {
  width: 150px;
}

ul {
  list-style-type: none;
}

ul li {
  text-align: left;
  margin: 10px;
}

.images img {
  height: 200px;
  
}

.content div {
  margin: 20px;
  width: 440px;
}

li b {
  margin-right: 8px;
}